.App {
  text-align: center;
}

.App-body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Bulb-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Bulb {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #a5a0a5;
  margin: 20px;
}

.Bulb-active {
  background-color: #fffbb9;
}
